.exploreCard{
     display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    color: #fff;
    margin: 40px auto; 
}

#eachSlide{
    width: 800px;
    height: auto;
}

.joinFreeBtn{
  align-items: start;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  /* font-family: Phantomsans, sans-serif; */
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
      z-index: 10;   
    position: relative; 
    margin: 30px 0;
    border-radius: 30px;
}

.exploreText h3{
    color:  #F68E5F;
    display: flex;
    align-items:center;
    gap: 5px;
    text-transform:uppercase;
}
.exploreText h2{
    font-size: 28px;
    margin: 20px 0px;
}

.exploreContainer{
    background-color:  #1C1C28;
}
.EmailInput input{
    border-radius: 20px;
    padding-right: 35px;
    padding-left: 25px;
    padding-top:18px;
    padding-bottom: 13px;
    background-color:  #292945;
    border: none;
}

.EmailInput{
    position: relative;
}
.EmailInput button{
    position: absolute;
    right: 5px;
    top: 0;
    background-color: #5B42F3;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    color:#fff;
    font-size: 20px;
}

.slideOne{
    width: 100px;
}
.signUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    margin: auto;
}
.email input::placeholder{
    color: #fff;
}